[Desktop Entry]
Encoding=UTF-8
Name=DotCoin
Comment=DotCoin P2P Cryptocurrency
Comment[fr]=DotCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DotCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/dotcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/dotcoin80.xpm
MimeType=x-scheme-handler/dotcoin;
Categories=Office;
